.container {
    width: 960px;
}

.grid-row {
    display: flex;
}
.grid-box {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: #f8f8ff;
}

.btn-container {
    display: flex;
    justify-content: center;
}


.btn-size {
    display: flex;
    width: 150px;
    height: 50px;
    justify-content: center;
    align-items: center;
}