<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <h1>Sign up</h1>
        <form action="/newMessage" method="POST">
            <label for="title">Title:</label>
            <input id="title" name="title" placeholder="Title" type="text" required/>
            <label for="messageBody">Message:</label>
            <input id="messageBody" name="messageBody" placeholder="Message" type="text" required/>
            <button>Submit Message</button>
        </form>
    </body>
</html>