<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <h1>Become a Member!</h1>
        <form action="/newMember" method="POST">
            <label>Are you ready to join the cool kids club?</label>
            <label for="giveMember">Yes!</label>
            <input id="giveMember" name="giveMember" type="checkbox" required/>
            <button>Give me membership!</button>
        </form>
    </body>
</html>