body{
    margin: 0;
   display: grid;
   grid-template-rows: 10% 90% ;
   height: 100vh;
  
}
#main_content{
    margin: 5%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto(25%);
    overflow:visible;
    gap: 10%;
}

#heading_container{
    padding-top: 1%;
    text-align: center;
    background-color: rgb(220, 221, 220);
    color: rgb(49, 53, 58);
    font-size: 1rem;
    border-bottom: solid 5px rgb(124, 148, 124);
    display: grid;
    grid-column: 70% 30%;
   
}
.book{
    
    background-color: beige;
    display: grid;
    grid-template-columns: 35% 65%;
    border-color: slategray;
    border-style: solid;
    border-radius: 5pt;
   

}
.bookLeft{
background-color: floralwhite;
display: grid;
grid-template-rows: auto(25%);
padding: 10% 15% 10% 15%;

}
.bookRight{
    background-color: rgb(219, 219, 219);
    display: grid;
    grid-template-rows: auto(25%);
    padding: 5% 15% 10% 15%;
}
h1{
    margin: 0;
}
.UNREAD{
    background-color: rgb(185, 185, 185);
    color: red;
    border-radius: 5pt;
    text-align: center;
}
.READ{
    background-color: rgb(185, 185, 185);
    color: greenyellow;
    border-radius: 5pt;
    text-align: center;
}