<!DOCTYPE html>
<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <h1>Dashboard</h1>
        <p>Welcome, <%= user.username %></p>
        <ul>
            <li><a href="/upload">Upload File</a></li>
            <li><a href="/folders">Manage Folders</a></li>
        </ul>
        <a href="/logout">Logout</a>
    </body>
</html>